<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <script src="socket.io/socket.io.js"></script>
    
</head>
<body>
   

    <h1>Ingrese un Producto</h1>

        <input type="text">
        <button>Consultar Producto</button>
        <button>Borrar Producto</button>
        <button>Agregar Producto</button>

        <script src="/js/indexHTML.js"></script>

        {{{body}}}
</body>

</html>